* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

#root,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
